* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v191_192 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v191_193 {
  width: 100%;
  height: 900px;
  background: rgba(111,111,111,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v191_194 {
  width: 100%;
  height: 900px;
  background: url("../images/v191_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v191_195 {
  width: 600px;
  height: 900px;
  background: url("../images/v191_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 0.8999999761581421;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v191_196 {
  width: 600px;
  height: 570px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 330px;
  left: 0px;
  overflow: hidden;
}
.v191_197 {
  width: 312px;
  height: 50px;
  background: rgba(232,232,232,1);
  opacity: 1;
  position: absolute;
  top: 598px;
  left: 144px;
  overflow: hidden;
}
.v191_198 {
  width: 312px;
  height: 50px;
  background: rgba(232,232,232,1);
  opacity: 1;
  position: absolute;
  top: 496px;
  left: 144px;
  overflow: hidden;
}
.v191_199 {
  width: 600px;
  height: 330px;
  background: rgba(58,58,58,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v191_200 {
  width: 250px;
  height: 250px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 174px;
  border-radius: 50%;
}
.v191_201 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 549px;
  left: 143px;
  font-family: Istok Web;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v191_202 {
  width: 238px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 651px;
  left: 144px;
  font-family: Istok Web;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v191_203 {
  width: 206px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 207px;
  font-family: Istok Web;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v191_204 {
  width: 110px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 834px;
  left: 207px;
  font-family: Istok Web;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v191_205 {
  width: 116px;
  height: 50px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 715px;
  left: 146px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v191_206 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 726px;
  left: 165px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v191_207 {
  width: 60px;
  height: 60px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 452px;
  border-radius: 50%;
}
.v191_208 {
  width: 60px;
  height: 60px;
  background: rgba(231,231,231,1);
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 381px;
  border-radius: 50%;
}
.v191_209 {
  width: 60px;
  height: 60px;
  background: url("../images/v191_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 381px;
  overflow: hidden;
}
.v191_210 {
  width: 60px;
  height: 60px;
  background: url("../images/v191_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 710px;
  left: 452px;
  overflow: hidden;
}
.v191_211 {
  width: 250px;
  height: 250px;
  background: rgba(190,190,190,1);
  opacity: 1;
  position: absolute;
  top: 202px;
  left: 174px;
  border-radius: 50%;
}
.v191_212 {
  width: 200px;
  height: 195px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 230px;
  left: 199px;
  border-radius: 50%;
}
.v191_213 {
  width: 160px;
  height: 186px;
  background: url("../images/v191_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 225px;
  left: 218px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  overflow: hidden;
}
.v191_214 {
  width: 0px;
  background: url("../images/v191_214.png");
  opacity: 1;
  position: absolute;
  top: 603px;
  left: 452px;
  border: 2px solid rgba(0,0,0,1);
  transform: rotate(-45deg);
}
.v191_215 {
  width: 150px;
  height: 150px;
  background: rgba(57,29,25,1);
  opacity: 1;
  position: absolute;
  top: 731px;
  left: 1273px;
  border-radius: 50%;
}
.v191_216 {
  width: 100px;
  height: 100px;
  background: url("../images/v191_216.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 1298px;
  overflow: hidden;
}
.v191_217 {
  width: 277px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 27px;
  left: 1124px;
  font-family: Jaro;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
